.livre-card {
    width: 200px !important;
    height: 324px !important;
    background-color: white !important;
    &__image {
        width: 100%;
        height: auto;
    }
    &__container {
        padding: 18px 14px 0 14px !important;
    }
    &__titre {
        color: black !important;
        font-size: 16px;
        font-weight: 400;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
    }
    &__auteur {
        color: $texte-secondary-color !important;
        padding-top: 5px;
        font-size: 14px;
        font-weight: 400;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
    }
    &__proprietaire {
        color: $texte-secondary-color !important;
        padding-top: 22px;
        font-size: 10px;
        font-style: italic;
        font-weight: 400;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
    }
}
