$background-header-color: #f5f3ef;
$background-body-color: #faf9f7;
$background-footer-color: #ffffff;

$primary-color: #00ab67;
$primary-dark-color: #006e42;

$tag-true-color: #6cc4a0;
$tag-false-color: #c46c6c;
