.messagerie-container {
    display: flex !important;
    position: relative !important;
    padding: 0 150px !important;
    background-color: $background-header-color !important;
    height: calc(100vh - 80px - 85px) !important;
    box-sizing: border-box !important;
    a {
        text-decoration: none !important;
    }
    .chat-section {
        display: flex;
        flex-direction: column;
        background-color: $background-body-color;
        &__title {
            padding: 55px 0 27px 34px;
        }
        &__card-container {
            position: relative;
            display: flex;
            align-items: center;
        }
        &__card {
            display: flex;
            gap: 12px;
            width: 308px;
            height: 84px;
            padding: 18px 34px;
            overflow: hidden;
            &:hover {
                background-color: white;
            }
            &--active {
                background-color: white;
            }
            &--container {
                position: relative;
                display: flex;
                flex-direction: column;
                width: 100%;
                gap: 7px;
                overflow: hidden;
                max-width: 100%;
            }
            &--texte-container {
                display: flex;
                align-items: baseline;
                justify-content: space-between;
                width: 100%;
            }
            &--miniature {
                display: block;
                width: 48px;
                height: 48px;
                border-radius: 50%;
                object-fit: cover;
            }
            &--pseudo {
                font-weight: 400;
                line-height: 16.94px;
                color: $texte-primary-color;
            }
            &--heure {
                font-size: 12px;
                font-weight: 400;
                line-height: 14.52px;
                color: $texte-primary-color;
            }
            &--message-container {
                display: flex;
                flex-direction: row;
                align-items: baseline;
                justify-content: space-between;
                gap: 30px;
                width: 100%;
                overflow: hidden;
                padding-right: 7px;
            }
            &--message {
                width: 100%;
                font-size: 12px;
                font-weight: 400;
                line-height: 14.52px;
                color: $texte-secondary-color;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            &--delete {
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                width: 0;
                overflow: hidden;
                background-color: $background-footer-color;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: width 0.3s ease;
                color: white;
                text-decoration: none;
            }
        }
        &__card-container:hover .chat-section__card--delete {
            width: 10%;
        }
        .chat-section__card--delete i {
            font-size: 1.5em;
            color: $primary-color;
        }
    }
    .message-section {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 35px 0 98px 50px !important;
        &__header {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 12px;
            padding-bottom: 20px;
            &--miniature {
                display: block;
                width: 48px;
                height: 48px;
                border-radius: 50%;
                object-fit: cover;
            }
            &--pseudo {
                font-weight: 600;
                line-height: 16.94px;
            }
        }
        &__chat-box {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            height: 100%;
            overflow: hidden;
            &--message-container {
                display: flex;
                flex-direction: column;
                gap: 25px;
                justify-content: flex-start;
                overflow-y: hidden;
                scroll-behavior: smooth;
                scrollbar-width: thin;
                scrollbar-color: $primary-color $background-secondary-color;
                padding-right: 21px;
                &:hover {
                    overflow-y: scroll;
                    padding-right: 10px;
                }
            }
            &--container-left {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 8px;
            }
            &--container-right {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                gap: 8px;
            }
            &--header-container {
                display: flex;
                gap: 6px;
                align-items: center;
            }
            &--miniature {
                display: block;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                object-fit: cover;
            }
            &--date {
                font-size: 12px;
                font-weight: 400;
                line-height: 14.52px;
                color: $texte-secondary-color;
            }
            &--message-left,
            &--message-right {
                min-width: 500px;
                max-width: 800px;
                width: 100%;
                padding: 10px 18px;
                border-radius: 5px;
            }

            &--message-left {
                background-color: $background-footer-color;
                align-self: flex-start;
            }

            &--message-right {
                background-color: $background-secondary-color;
                align-self: flex-end;
                text-align: right;
            }
        }
        &__new-message {
            padding-right: 21px;
            margin-top: 98px;
            &--form {
                display: flex;
                gap: 21px;
            }
            textarea {
                height: 49px;
                resize: none;
            }
            &--btn {
                max-height: 49px;
            }
        }
    }
}
