.moncompte-container {
    display: grid !important;
    grid-template-columns: 1fr !important;
    gap: 33px;
    margin-top: 48px;
    .moncompte-section {
        display: flex;
        justify-content: center;
        background-color: white;
        border-radius: 20px;
        &__section-member {
            display: flex;
            flex-direction: column;
            gap: 48px;
            text-align: center;
            height: 367px !important;
            margin-top: 48px;
            &--photo {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            &--modifier {
                color: $texte-secondary-color !important;
            }
            &--ligne {
                width: 242px;
                border: none;
                margin: 0;
                border-top: 1px solid $texte-secondary-color !important;
            }
            &--pseudo {
                font-family: "Playfair Display" !important;
                font-size: 24px !important;
                margin-bottom: 11px !important;
            }
            &--anciennete {
                color: $texte-secondary-color;
                margin-bottom: 21px !important;
            }
            &--biblio {
                font-size: 8px !important;
                font-weight: 600 !important;
            }
        }
        &__section-infos {
            width: 322px;
            padding: 36px 0;
            &--title {
                font-size: 16px !important;
                margin-bottom: 26px !important;
            }
            &--form-control {
                background-color: $background-secondary-color !important;
            }
        }
        &__section-book {
            display: grid !important;
            gap: 16px !important;
            width: 100%;
            @include Extra-large {
                flex-direction: column !important;
            }
            &--header {
                display: grid;
                grid-template-columns: 78px 1fr 1fr 1fr 1fr 1fr;
                gap: 80px;
                padding: 33px 66px 8px 66px;
                font-size: 10px;
                font-weight: 600;
                text-transform: uppercase;
                border-bottom: 1px solid $background-secondary-color;
            }
            .book-card-admin {
                display: grid;
                grid-template-columns: 78px 1fr 1fr 1fr 1fr 1fr;
                gap: 80px;
                align-items: center;
                padding: 26px 66px;
                @include Extra-large {
                    flex-direction: row !important;
                }
                &__background-white {
                    background-color: white;
                }
                &__background-secondary {
                    background-color: $background-secondary-color;
                }
                &__image {
                    width: 78px !important;
                    height: 78px !important;
                    object-fit: cover;
                }
                &__titre,
                &__auteur {
                    width: 128px;
                    font-size: 12px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                &__description {
                    display: -webkit-box;
                    width: 128px;
                    height: auto;
                    font-size: 12px;
                    font-style: italic;
                    line-clamp: 3;
                    -webkit-line-clamp: 3;
                    box-orient: vertical;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: normal;
                }
                &__disponibilite {
                    color: white !important;
                    font-size: 10px !important;
                    font-weight: 500 !important;
                    text-decoration: none !important;
                    &--dispo,
                    &--nondispo {
                        border-radius: 9px;
                        max-width: 70px !important;
                        height: 18px !important;
                        text-align: center;
                        align-content: center;
                    }
                    &--dispo {
                        background-color: $tag-true-color !important;
                        border-color: $tag-true-color !important;
                    }
                    &--nondispo {
                        background-color: $tag-false-color !important;
                        border-color: $tag-false-color !important;
                    }
                }
                &__action {
                    display: flex;
                    gap: 28px;
                    font-size: 12px;
                    &--editer {
                        &:hover {
                            text-decoration: none !important;
                        }
                    }
                    &--supprimer {
                        color: $tag-false-color !important;
                        &:hover {
                            text-decoration: none !important;
                        }
                    }
                }
            }
        }
    }
    @include Medium {
        grid-template-columns: repeat(2, 1fr) !important;
    }
    section:nth-child(3) {
        @include Medium {
            grid-column: span 2 !important;
        }
    }
}
